Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Temp/__Backupscenes/0.backup
Temp/__Backupscenes/0.backup
Temp/__Backupscenes/0.backup
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Temp/__Backupscenes/0.backup